* {
  margin: 0;
  padding: 0;
}
/* #navbar {
  overflow: hidden;
  background-color: black;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1;
} */

#search {
  float: right;
}

#search input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

#search button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* #navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}


#navbar a:hover,
.dropdown:hover .dropbtn {
  background: #ddd;
  color: black;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
} */

#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 1;
  position: fixed;
  width: 100%;
}

#navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

#navbar a:hover {
  background-color: blue;
}
.show {
  display: block;
}

img {
  width: 100%;
}

.mySlides {
  position: relative;
  text-align: center;
}

.mySlides-para {
  position: absolute;
  text-transform: capitalize;
  left: 50%;
  bottom: 0;
  line-height: 1.5;
  font-size: 20px;
  color: white;
  text-align: center !important;
  transform: translate(-50%, 0%);
  /* padding: 16px; */
  margin: 2em;
}

/* i {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  margin: 15px;
} */

#band {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 16px 64px;
  margin: 0 auto;
  line-height: 1.5;
  max-width: 800px;
  font-size: 15px;
}

#band h2 {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 15px;
}

#band p {
  text-align: justify;
  margin: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#band-members {
  display: flex;
  flex-direction: row;
}

#band-members p {
  text-align: center;
}

#tour-dates {
  color: #f1f1f1;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 64px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 15px;
  max-width: 800px;
}

#tour-dates h2 {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 15px;
}

.container {
  background-color: rgb(0, 0, 0);
}

#tickets {
  color: red;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.tickets-content {
  float: right;
  right: 0;
  color: #757575;
  border: 1px #ccc solid;
  line-height: 1.5;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
}

span {
  padding-left: 15px;
  background-color: red;
  color: white;
}

strong {
  float: inline-end;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  color: #ddd;
}

.tickets-pictuers-container {
  color: #f1f1f1;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 16px 64px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 15px;
  max-width: 800px;
}

.tickets-pictuers-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  width: auto;
  background-color: white;
  color: black;
}

.tickets-pictuers-content button {
  color: white;
  background-color: #000000;
  float: left;
  font-size: 20px;
  margin: 15px;
  padding: 10px;
}

.tickets-para p {
  text-align: left;
  margin: 15px;
}

.tickets-para p:nth-child(2) {
  color: rgba(0, 0, 0, 0.5);
}
